* {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  

body {
    margin: 0;
    background-color: #373737;
}

.contenedor {
    min-height: 100vh;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 5px 0;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo > h1 {
    font-family: 'Bebas Neue';
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo > img {
    max-width: 800px;
    border-radius: 47px;
}

.parrafo {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.parrafo > p {
    width: 80%;
    text-align: justify;
    font-size: 1.7rem;
}

.video {
    display: flex;
    justify-content: center;
}

.seccion {
    background-color: white;
    margin: 20px 0;
    border-radius: 42px;
    padding: 5px 0;
}